*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;          
    background-color: rgb(11, 10, 73);
    padding-top: 80px;
    padding-bottom: 5px;
    display: flex;
    justify-content:space-evenly ;
    align-items: flex-end;
    
}

.home{
    color: whitesmoke;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.itsme{
    color: whitesmoke;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.about{
    color: whitesmoke;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

.contact{
    color: whitesmoke;
    padding: 2px;
    border: 2px solid black;
    cursor: pointer;
}

header a:hover{
    font-size: 40px;
}