*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0B0A49;
}

.meio{
    margin-bottom: 80px;
    width: 100%; 
       
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    
}

.image{
    margin-right: 130px;
    height:400px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    
}

.texto{
    margin-left: 90px;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    /*justify-content: flex-end;*/
    align-items: flex-end;
}

