*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: #0B0A49;
}

.corpo{
    border: 2px solid black;

}

.caixa{
   /* margin-top: 100px;*/
    width: 100%;
    min-height: 80vh;
    max-width: 1440px;
    margin: auto;
    /*padding: 20px;*/
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    
}

.image{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.Sailor{
    height:370px;
    width: 350px;  
    margin-left: 170px;
    display: flex;
    /*justify-content: center;*/
    align-items:flex-end;
}

.texto{
    font-family: 'Permanent Marker', cursive;
    color: beige;
    font-size: 50px;
    line-height: 1.5;
    margin-right: 70px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end ;

}

.texto:hover{
    font-weight: bold;
}
